.leaflet-labels {
    color: black;
}

#easy-button {
    width: 30px;
    height: 30px;
    /*Makes the easy buttons unselectable*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#FFFFFF
}
.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;padding:10px 5px;
    border-style:solid;
    border-width: 0px;
    overflow:hidden;
    word-break:normal;
}
.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-color: #FFFFFF;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-yw4l {
    vertical-align:top
}
tr:nth-child(even) {
    background-color: #D0D6DC
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: none;
    display: inline-block;
    /*Makes the text unselectable*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis--x path {
    display: none;
}

/*#legend {
    max-width: 150px;
    position: absolute;
    bottom: 57px;
    left: 92%;
    margin-right: 10px;
}*/

#legend {
    max-width: 150px;
    position: absolute;
    left: 0%;
    margin-left: 10px;
    bottom: 0px;
    margin-bottom: 10px;
    /*margin-bottom: 35px;*/
    z-index: 5;
}

.IconImage {
    position: absolute;
}

#DRP {
    max-width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 228px;
    margin-right: 45px;
    z-index: 5;
}
